[submodule "wordpress"]
	path = wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "plugins/oidc-illios"]
	path = plugins/oidc-illios
	url = https://github.com/oidc-wp/openid-connect-generic.git
